.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo + p {
  margin: 10px 0 5px;
}

a {
  font-size: 12px;
  text-decoration: underline;
  color: inherit;
  line-height: 1.7;
}

a:hover {
  opacity: 0.8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  color: #282c34;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  border: 1px solid #282c34;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
